Lambda Function:
lambda arguments:expression

In [1]:
#program to add number 4 to the given num
add=lambda num:num+4
print(add(5))

9

In [2]:
multi=lambda num1,num2:num1*num2
print(multi(5,6))

30

In [4]:
a=lambda num1,num2,num3:num1+num2+num3
print(a(5,6,7))

18

In [5]:
#diffrenec between def and lambda
def reciprocal(num):
  return 1/num
print(reciprocal(4))

0.25

In [6]:
b=lambda num:1/num
print(b(4))

0.25

In [7]:
#lambda function jusing if else
#program to print even or odd number using the lambda
even_odd=lambda num:'even' if num%2==0 else 'odd'
print(even_odd(5))

odd

In [ ]:
#program to find minimum number of two
min=lambda num1,num2:num1 if num1<num2 else num2
print(min(5,6))

In [8]:
num=2
if num%2==0:
  print('even')
else:
  print('odd')

even

In [14]:
#lambda using for loop
l1=[1,2,3,4,5]
l2=[]
for i in l1:
  temp=lambda i: i**2
  l2.append(temp(i))
print(l2)

[1, 4, 9, 16, 25]

In [ ]:
#####built in functions
###which are already defined whose functionality also already defined

In [ ]:
abs()

1.abs()
2.all()
3.bin()
4.bool()
5.bytes()
6.callable()
7.compile()
8.exec()
9.sum()
10.any()
11.ascii()
12.bytearray()
13.eval()
14.float()
15.format()
16.frozenset()
17.getattr()
18.globals()
19.iter()
20.len()
21.list()
22.set()
23.map()

In [15]:
k=[1,2,3,4,5]
print(all(k))

True

In [17]:
k=[1,0,2,3,4]
print(all(k))

False

In [18]:
#bin
x=10
print(bin(x))

0b1010

In [20]:
##bool
test1=[True]
print(test1,'is',bool(test1))

[True] is True

In [22]:
### bytes
str="Hello World"
print(bytes(str,'utf-8'))

b'Hello World'

In [24]:
#xcallable
x=10
print(callable(x))

False

In [25]:
#sum
s=[1,2,3,4,5]
print(sum(s))

15

In [26]:
#eval
x=8
print(eval('x+3'))

11

In [29]:
###map_____applying any given function to each item list

def add(a,b):
  return a+b
a=16
b=15
print(add(a,b))

31

In [31]:
def add(n):
  return n+n
l1=[1,2,3,4,5]
result=map(add,l1)
print(list(result))

[2, 4, 6, 8, 10]

In [32]:
l1=[1,2,3,4,5]
result=map(lambda n:n+n,l1)
print(list(result))

[2, 4, 6, 8, 10]